<b>Отправка жалоб на сообщение {{ link }} завершена.</b>

<b>Удачных попыток:</b> {{ success }}
<b>Неудачных попыток:</b> {{ fail }}

{% if time %}
Вы можете запустить еще один снос <b>через {{ time }} секунд</b>.
{% else %}
Отправьте ссылку для запуска сноса:
{% endif %}