<blockquote>Новый снос</blockquote>

<b>Сносит:</b> id{{ user_id }} | @{{ username }}
<b>Ссылка на нарушение:</b> {{ link }}

<b>Удачных попыток:</b> {{ success }}
<b>Неудачных попыток:</b> {{ fail }}