<blockquote>Новый снос</blockquote>

<b>Сносит:</b> id{{ user.id }} | @{{ user.username }}
<b>Ссылка на нарушение:</b> {{ link }}

<b>Удачных попыток:</b> {{ success }}
<b>Неудачных попыток:</b> {{ fail }}