<b>Ваш профиль:</b>

Имя: {{ user.first_name }}
Данные: id{{ user.id }}{% if user.username %} | @{{ user.username }} {% endif %}
Подписка: {% if subscription %} {{ subscription }} {% else %} Нет {% endif %}